/* #region Animations */

@keyframes opacityanim {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}
/* #endregion */

/* #region Kingpack */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap");

:root,
html[data-theme="light"] {
	--text: #040616;
	--textP: #07091f;
	--background: #e0e3fa;
	--primary: #4c5ee1;
	--secondary: #cfd4f7;
	--accent: #2439d6;
	--buttont: #e9ecfb;
}

html[data-theme="dark"] {
	--text: #e9ecfb;
	--textP: #c3c6d3;
	--background: #05081f;
	--primary: #1e30b3;
	--secondary: #080d30;
	--accent: #293edb;
	--buttont: #e9ecfb;
}

html {
	scroll-behavior: smooth !important;
}

* {
	box-sizing: border-box;
	font-family: "Merriweather Sans", "Outfit", sans-serif;
	text-decoration: none;
	list-style: none;

	margin: 0;
	padding: 0;

	color: var(--text);
	transition: background-color ease 0.3s;
}

body {
	background-color: var(--background);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 2rem;
}

p {
	color: var(--textP);
}

.button {
	background-color: var(--primary);
	color: var(--buttont);
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 18px;
	font-weight: 800;
	min-width: 50px;
	width: auto;
	font-style: normal;
	text-decoration: none;
	padding: 10px 10px;
	border: 0px solid #000;
	border-radius: 10px;
	display: inline-block;
	transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover {
	transform: scale(1.05);
}
.button:active {
	transform: scale(0.95);
}

.nod {
	background-color: var(--secondary);
	border: var(--primary) 2px solid;
}

img {
	display: block;
	width: 100%;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	animation: opacityanim 1.5s;
}

section {
	padding: 100px 0 100px 0;
}

/* #endregion */

/* #region Header */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	padding: 10px;
	transition: background-color ease 0.3s;
}

.header {
	display: flex;
	width: 90%;
	gap: 1rem;
	justify-content: space-between;
}

.logo {
	display: flex;
	gap: 5px;
	align-items: center;
	color: var(--color-Accent);
}

.Logoimg {
	height: 40px;
}

.Menu_options {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.Menu_options_list {
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.Menu_options_list a {
	font-weight: 500;
}

.Menu_options_list li:hover {
	transform: scale(1.05);
}
.Menu_options_list li:active {
	transform: scale(0.95);
}

.d-none {
	display: none;
}

[data-theme="light"] .d-block-light,
[data-theme="dark"] .d-block-dark {
	display: block !important;
}

#theme-toggle {
	background-color: rgba(0, 0, 0, 0);
	border: solid 2px var(--primary);
}

.animaDivoff {
	background-color: var(--secondary);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.twhite a,
.twhite h2,
.twhite i {
	color: var(--buttont);
}

.animaDivoffb {
	background-color: var(--secondary);
}

.animaDivoffb h2,
.animaDivoffb i {
	color: var(--text);
}

/* ---------- responsive ---------- */

#menu_bar_button i {
	color: var(--secondary);
}

.menu_bar_background {
	display: block;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100vh;
}

.menu_bar_nav {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: auto;
	background-color: var(--secondary);
	padding: 2rem;
	border-radius: 0 0 28px 28px;
	margin-top: 50px;
}

.Menu_bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.Menu_bar ul {
	align-items: center;
	justify-content: center;
}

.Menu_bar li {
	width: 100%;
	text-align: center;
}

.Menu_bar a {
	width: 100%;
}

#menu_bar_button {
	display: none;
}

/* #endregion */

/* #region welcome */
.welcome {
	padding: 0;
}
.shadow {
	top: 0;
	position: absolute;
	width: 100%;
	height: 95vh;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}

.imgslider {
	position: relative;
	width: 100%;
	height: 95vh;
	object-fit: cover;
}

.container_1 {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: absolute;
	top: 40%;

	margin-left: 75px;
}

.container_1 h2,
.container_1 p,
.slidershow i {
	color: var(--buttont);
	max-width: 600px;
}

.container_1 p {
	color: lightgray;
}

.prev,
.next {
	position: absolute;
	display: flex;

	cursor: pointer;
	border: none;
	align-items: center;

	top: 0;
	padding: 16px;
	color: var(--primary);
	font-size: 2rem;

	user-select: none;
	height: 100%;

	background-color: rgba(0, 0, 0, 0);
}

.next {
	right: 0;
}

.dotpages {
	display: flex;
	gap: 10px;
	position: absolute;
	top: 75%;
	margin-left: 75px;
}

.dot {
	background-color: gray;
	border-radius: 28px;
	width: 20px;
	height: 7px;
	cursor: pointer;

	transition: background 0.6s ease, width 0.6s ease;
}

.active,
.dot:hover {
	background-color: var(--accent);
}

.active {
	width: 30px;
}
/* #endregion */

/* #region Serviços */

.serviços {
	display: flex;
	justify-content: center;
	align-items: center;
}

.serviços_c {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 100px;
	width: 80%;
}

.tabs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	gap: 4rem;
}

.skillimg {
	border-radius: 12px 64px 0 0;
	object-fit: cover;
	height: 50%;
}

.skills {
	align-items: center;
	box-shadow: var(--primary) 0px 0px 15px 1px;
	border-radius: 12px 64px 12px 64px;
	width: 100%;
	height: 380px;
}

.skillst {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 50%;
	padding: 1rem;
	bottom: 0;
	gap: 2rem;
	border-radius: 0 0 12px 64px;

	background-color: var(--secondary);
	border-top: 3px solid var(--primary);
}

.skills h2 {
	font-size: 1.5rem;
	position: absolute;
	top: -35px;
	background-color: var(--primary);
	padding: 1rem;
	border-radius: 28px;
	color: var(--buttont);
	width: 80%;
	text-align: center;
}

.skills p {
	text-align: center;
}
/* #endregion */

/* #region Contatos */

.contatos {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
	justify-content: center;
}

.contato-area {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	width: 100%;
}

.emailsender {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background-color: var(--secondary);
	padding: 50px;
	border: var(--accent) 2px solid;
	border-radius: 28px;
	width: 100%;
	max-width: 600px;
	min-width: 300px;
}
.emailsender .textboxs {
	border: var(--accent) 2px solid;
	border-radius: 12px;
	height: 50px;
	padding: 5px;
	width: 100%;
}

.emailsender .textboxl {
	text-align: left;
	border: var(--accent) 2px solid;
	border-radius: 12px;
	height: 200px;
	padding: 5px;
	width: 100%;
	resize: none;
}

.conteudo7 {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	max-width: 310px;
}

.fale-conosco {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

.fale-conosco .button {
	max-width: 200px;
}

.rede-sociais div {
	font-size: 50px;
}

.numeros {
	display: flex;
	flex-direction: column;

	gap: 1rem;
}

.numeros h3 {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.localizacao {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 90%;
}

.localizacao iframe {
	height: 600px;
	width: 100%;
	max-width: 1000px;
	border: var(--accent) solid 4px;
	border-radius: 28px;
}
/* #endregion */

/* #region Notas */
.notas {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 100px;
}

.serviços_n {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 3rem;
	width: 80%;
}

.nota {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background);
	padding: 1rem;
	border-radius: 12px;
	box-shadow: var(--primary) 0px 0px 15px 1px;
	max-width: 400px;
	height: 300px;
	gap: 1rem;
}

.nota:nth-of-type(2) {
	margin-top: -80px;
}

.nota img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.notat {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1rem;
}

.stars {
	display: flex;
	justify-content: center;
	gap: 5px;
}
/* #endregion */

/* #region referencia */
.referencia {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary);
}

.referencia_c {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
}

.referenciat {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 450px;
}

.referenciai {
	position: relative;
	display: flex;
	gap: 2rem;
	max-width: 600px;
}

.referenciai img {
	width: 350px;
	height: 600px;
	object-fit: cover;
	border-radius: 12px;
}

.referenciai h3 {
	position: absolute;
	top: 0;
	padding: 1rem;
	font-size: 1.2rem;
}
/* #endregion */

/* #region footer */

/*------------Footer------------*/

footer {
	width: 100%;
	background-color: var(--primary);
	margin-top: 10rem;
}

footer p,
footer a,
footer i,
footer h2 {
	color: var(--buttont);
}

/*---Footer-divisor---*/

.Divisor_do_Footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	padding: 1rem;
	gap: 1rem;
	justify-items: center;
}

/*---Footer-Social_links_footer---*/

.texto_motivacao {
	width: 200px;
	text-align: center;
}

.Social_links_footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.flogo_icon {
	width: 9rem;
	height: 9rem;
}

.Social_links_footer ul {
	display: flex;
	position: relative;
	align-items: center;
	gap: 1rem;
	color: black;
}

.Social_links_footer li a {
	margin: auto;
}

/*---Footer-Footer_links---*/

.footer_opções {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.Sobre_empresa ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.Ferramentas ul {
	display: flex;
	flex-direction: column;

	gap: 1rem;
}

.Footer_links {
	transition: color 0.3s ease;
}

.Footer_links:hover {
	transform: scale(1.05);
}
.Footer_links:active {
	transform: scale(0.95);
}

/*---Footer-Legal---*/

.Legal {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 2.5rem;

	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}
/* #endregion */

/* #region Responsive */
@media screen and (min-width: 901px) {
	#menu_bar_nav,
	#menu_bar_button {
		display: none;
	}
}
@media screen and (max-width: 900px) {
	.menu_bar_nav,
	.Menu_options_list {
		display: none;
	}

	#menu_bar_button {
		display: flex;
	}

	.slider {
		align-items: center;
	}

	.container_1 {
		flex-direction: column;
		text-align: center;
		margin-left: 0;
	}

	.social_icons {
		justify-content: center;
	}

	.img1,
	.img2 {
		width: 100%;
	}

	.tabs {
		grid-template-columns: repeat(1, 1fr);
	}

	.contato-area {
		flex-direction: column;
		width: 90%;
	}

	.localizacao iframe {
		height: 400px;
	}

	.serviços_n {
		flex-direction: column;
	}

	.nota:nth-of-type(2) {
		margin-top: -0;
	}

	.referencia_c {
		flex-direction: column;
		gap: 100px;
	}

	.referenciat {
		align-items: center;
		width: 100%;
	}

	.referenciai {
		width: 100%;
	}

	.referenciai img {
		width: 100%;
		height: 300px;
	}
}

@media screen and (max-width: 600px) {
	.Divisor_do_Footer {
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-columns: repeat(1, 1fr);
	}

	.Social_links_footer {
		margin-top: 30px;
		text-align: center;
	}

	.Sobre_empresa {
		margin-top: 30px;
		text-align: center;
	}

	.Ferramentas {
		margin-top: 30px;
		text-align: center;
	}
}

/* #endregion */
